
@{
    ViewBag.Title = "数据分析(个人)";
}
<div style="padding-left: 40px;">
    <div class="layui-input-inline" style="width:200px">
        <label style="float: left;line-height: 39px;">月份：</label>
        <input style="float: left;width:70%" type="text" class="layui-input" id="text_yf" placeholder="yyyy-MM" onClick="WdatePicker({dateFmt:'yyyyMM'})">
    </div>
    <div class="layui-input-inline">
        <input type="button" class="layui-btn layui-btn-normal" value="查询" id="button_query" />
    </div>
</div>

<table class="layui-table">
    <colgroup>
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col width="100">
        <col>
    </colgroup>
    <tbody>
        <tr>
            <td>
                <label class="layui-form-label" style="width:100%;padding:0"> 净值：@ViewData["JZ"]  环比： @ViewData["JZHB"]</label>
            </td>
            <td>现金流：@ViewData["XJL"] 环比：@ViewData["XJLHB"]</td>
            <td>资产：@ViewData["ZC"]</td>
            <td>负债：@ViewData["FZ"]</td>
            <td> 资产负债比例：@ViewData["ZCFZBL"]</td>
        </tr>
    </tbody>
</table>

<div class="layui-row layui-col-space5">
    <div class="layui-col-md6">
        yyyy年MM月 收入：环比：

    </div>
    <div class="layui-col-md6">
        yyyy年MM月 支出：环比：

    </div>
</div>
<input type="hidden" id="hidden_code" value="@ViewData["code"]" />
<input type="hidden" id="hidden_msg" value="@ViewData["msg"]" />
@*<script src="~/Scripts/jquery/jquery.min.js"></script>*@
<script>
    $(function () {
        var code = $("#hidden_code");
        var msg = $("#hidden_msg");
        if (code.val() != "0") {
            layer.msg(msg.val());
        }
        
    });

    $("#button_query").click(function () {
        //查询
        var text_yf = $("#text_yf");
        window.location.href = "PersonIndex?YF=" + text_yf.val();
    });

</script>